body {
    font-family: 'Anek Malayalam', sans-serif;

}

h1 {
    font-size: 45px;
    color: rgb(55, 50, 50);

}

.font-color {
    color: gray;
    font-size: 35px;
}

.font-size {
    font-size: 15px;
    padding-right: 100px;
}

a {
    background-image: linear-gradient(to right, orange, rgb(244, 48, 48));
    text-decoration: none;
    padding: 15px 35px;
    color: white;
    border-radius: 25px;


}

span {
    color: orange;
}

#section-1 {

    display: flex;
    margin-left: 5%;
}

.divetion {

    padding-top: 25px;
    padding-left: 70px;
    width: 50%;


}


#background {
    background-image: url(../images/background.png);
    display: flex;

}

.div-1 {
    width: 50%;
    padding-left: 150px;
}

.heah-ing {
    text-align: center;
}

.para {
    text-align: center;
    padding-left: 410px;
    padding-right: 410px;
}

.img {
    width: 250px;
}

.div-2 {
    width: 50%;
    padding: 70px;
}

#text-center {
    display: flex;
    margin-left: 5%;
}

.picture-cover {
    width: 250px;
    padding-top: 20px;
    padding-right: 30px;
}


.this-div {
    padding-left: 10px;
    box-shadow: 10px 10px 40px rgb(168, 152, 152);
    height: 380px;
    width: 280px;
    border-radius: 20px;
    margin-left: 5%;
}

#section-3 {}


.head {
    text-align: center;
    padding-bottom: 10px;
}

.head-ing {
    text-align: center;
}

.shakil {}

.shakil {}

.shakil-s {}



#paragraph {
    color: rgb(75, 75, 201);
}

#section-4 {
    display: flex;
    box-shadow: 15px 25px 40px rgb(184, 175, 175);
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 70px;
    border-radius: 13px;
}

.mainul-mia {
    padding-left: 150px;
}

.raju-mia {
    padding-left: 200px;
}

.Sawon-mia {
    padding-left: 250px;
}

#footer {
    background-color: black;
    text-align: center;
    padding-top: 40px;
    color: gray;
    margin-top: 80px;
}